<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Cereales</key>
		<dict>
			<key>Arroz Blanco</key>
			<integer>354</integer>
			<key>Arroz Integral</key>
			<integer>350</integer>
			<key>Avena</key>
			<integer>367</integer>
		</dict>
		<key>Legumbres</key>
		<dict>
			<key>Garbanzos</key>
			<integer>361</integer>
		</dict>
	</dict>
	<dict>
		<key>Legumbres</key>
		<dict>
			<key>Arvejas secas</key>
			<integer>340</integer>
			<key>Garbanzos</key>
			<integer>361</integer>
			<key>Habas secas</key>
			<integer>343</integer>
		</dict>
	</dict>
	<dict>
		<key>Huevos</key>
		<dict>
			<key>Clara</key>
			<integer>48</integer>
			<key>Huevo duro</key>
			<integer>147</integer>
			<key>Huevo entero</key>
			<string>162</string>
		</dict>
	</dict>
	<dict>
		<key>Pasteleria</key>
		<dict/>
		<key>Bizcocho</key>
		<integer>456</integer>
		<key>Croissant chocolate</key>
		<integer>469</integer>
		<key>Croissant, donut</key>
		<integer>456</integer>
	</dict>
</array>
</plist>
